<!-- 
    You need to update and adapt these lines and bring them to your Sitecore connection strings file.
-->
<add name="analytics" connectionString="mongodb://<username>:<password>@<host>:<port>/<databasename>?ssl=true;authMechanism=SCRAM-SHA-1" />
<add name="tracking.live" connectionString="mongodb://<username>:<password>@<host>:<port>/<databasename>?ssl=true;authMechanism=SCRAM-SHA-1" />
<add name="tracking.history" connectionString="mongodb://<username>:<password>@<host>:<port>/<databasename>?ssl=true;authMechanism=SCRAM-SHA-1" />
<add name="tracking.contact" connectionString="mongodb://<username>:<password>@<host>:<port>/<databasename>?ssl=true;authMechanism=SCRAM-SHA-1" />
