<configuration xmlns:patch="www.sitecore.net/xmlconfig">
  <sitecore>
    <pipelines>
      <updateMongoDriverSettings>
        <processor type="AzureDocumentDBForSitecore.UpdateMongoDriverSettingsProcessor, AzureDocumentDBForSitecore" />
      </updateMongoDriverSettings>
    </pipelines>
  </sitecore>
</configuration>