################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureDocumentDbForSitecore/bin
/AzureDocumentDbForSitecore/obj/Debug
/packages
/AzureDocumentDbForSitecore/AzureDocumentDbForSitecore.csproj.user
/AzureDocumentDbForSitecoreAzureResourceGroup/bin/Debug/staging/AzureDocumentDbForSitecoreAzureResourceGroup
